
      <h1>User info</h1>
        <p><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></p>
          <table class="table">
            <tbody>
              <tr>
                <th>name</th>
                <th><%= user.name %></th>
              </tr>
              <tr>
                <th>introduction</th>
                <th><%= user.introduction %></th>
              </tr>
              <tr>
                <th>follows</th>
                <th><%= user.follower.count %></th>
              </tr>
              <tr>
                <th>followers</th>
                <th><%= user.followed.count %></th>
              </tr>
            </tbody>
          </table>
        <p>
          <% unless user == current_user %>
            <% if current_user.following?(user) %>
              <%= link_to "フォロー外す", unfollow_path(user.id), method: :post, class:"btn btn-sm btn-danger" %>
            <% else %>
              <%= link_to "フォローする", follow_path(user.id), method: :post, class:"btn btn-sm btn-success" %>
            <% end %>
          <% end %>
        </p>
        <p><%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
            <% end %>
        </p>