<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
  <% end %>

<%= render 'users/info', user: @user, book: @book %>

<h1>Book detail</h1>

<h2>Title:</h2>
<p><%= @book.title %></p>

<h2>Opinion:</h2>
<p><%= @book.body %></p>

<p>
<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>
</p>
